<div class="settings-page">
    <div class="container page">
      <div class="row">
  
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Your Settings</h1>
          <ul class="error-messages" *ngIf="errSetting">
            <li *ngFor="let err of errSetting">{{err}}</li>
          </ul>
          <form [formGroup]="formSetting">
            <fieldset>
              <fieldset class="form-group">
                <img [src]="urlImage? urlImage : urlNull" height="200"> <br />
                <input type='file' (change)="onSelectFile($event)">
              </fieldset>
              <fieldset class="form-group">
                <input class="form-control form-control-lg" type="text" placeholder="Your Name" formControlName="username"
                  value="dataUser.username">
              </fieldset>
              <fieldset class="form-group">
                <textarea class="form-control form-control-lg" rows="8" placeholder="Short bio about you"
                  formControlName="bio"></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input class="form-control form-control-lg" type="text" placeholder="Email" formControlName="email">
              </fieldset>
              <fieldset class="form-group">
                <input class="form-control form-control-lg" type="password" placeholder="Password"
                  formControlName="password">
              </fieldset>
              <button class="btn btn-lg btn-primary pull-xs-right" (click)="updateSetting()">
                Update Settings
              </button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>