<div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">
        <p *ngIf="!isLogin"><a class="text-success" [routerLink]="['/login']">Sign in</a> or <a class="text-success"
                [routerLink]="['/register']">Sign up</a> to add comments on this article.
        </p>
        <form class="card comment-form" *ngIf="isLogin">
            <div class="card-block">
                <textarea class="form-control" placeholder="Write a comment..." rows="3"
                    (keyup)="textBody = $event.target.value" [value]="textBody"></textarea>
            </div>
            <div class="card-footer">
                <img [src]="img? img : imgNull" class="comment-author-img" />
                <button class="btn btn-sm btn-primary" (click)="postNewComment()">
                    Post Comment
                </button>
            </div>
        </form>
        <div class="card" *ngFor="let comment of listComment; let j = index">
            <div class="card-block">
                <p class="card-text">{{comment?.body}}</p>
            </div>
            <div class="card-footer">
                <a href="" class="comment-author">
                    <img [src]="comment?.author?.image" class="comment-author-img" />
                </a>
                &nbsp;
                <a [routerLink]="['/profile/',comment?.author.username]" class="comment-author">{{comment?.author.username}}</a>
                <span class="mod-options" *ngIf="nameUserIslogin == comment?.author.username"
                    (click)="deleteComment(comment?.id, j)"><i class="ion-trash-a"></i></span>
                <span class="date-posted">{{comment?.createdAt | date:'fullDate'}}</span>
            </div>
        </div>
    </div>
</div>